.center 
{
	text-align: center;
}
.center img
{
	max-width: 100%;
	height: auto;
}
.center img.small-image
{
	width: 500px;
	height: auto;
}
.center img.extra-small-image
{
	width: 200px;
	height: auto;
}
body
{
	font-family:Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #D2B48C;
}
nav
{
	background-color: #008080;
}
nav ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}
nav ul li
{
	display:inline;
}
nav ul li a
{
	display: block;
	padding: 10px 20px;
	color: #D2B48C;
	text-decoration: none;
}

nav ul li a:hover
{
	background-color: #555;
}

/*styles for mobile
@media (max-width: 768px)
{
	nav ul li
	{
		display: block;
		margin-bottom: 5px;
	}
}
*/